#!/usr/bin/env fish
# Replaces the chezmoi-managed block in config.fish, preserving everything else.

set BEGIN_MARKER '# BEGIN chezmoi managed'
set END_MARKER '# END chezmoi managed'

set existing (cat)

# Build the managed block
set managed $BEGIN_MARKER

{{ if eq .chezmoi.os "darwin" -}}
set -a managed \
    'if test -d /opt/homebrew' \
    '    # Homebrew is installed on MacOS' \
    '    /opt/homebrew/bin/brew shellenv | source' \
    'end' \
    ''
{{ end -}}

set -a managed \
    'fish_add_path $HOME/.local/bin' \
    '' \
    'starship init fish | source' \
    'zoxide init fish | source'

set -a managed 'abbr -a cz --position command chezmoi'
set -a managed 'abbr -a ts --position command tailscale'


set -a managed $END_MARKER

# Strip existing managed block if present
set output
set in_block 0
for line in $existing
    if test "$line" = "$BEGIN_MARKER"
        set in_block 1
    else if test "$line" = "$END_MARKER"
        set in_block 0
    else if test $in_block -eq 0
        set -a output $line
    end
end

# Append managed block
set -a output '' $managed

printf '%s\n' $output
