{{- $email := promptStringOnce . "email" "Email address" "user@example.com" -}}
{{- $name := promptStringOnce . "name" "Full name" "User" -}}

data:
  email: {{ $email | quote }}
  name: {{ $name | quote }}
{{- if eq .chezmoi.os "windows" }}

interpreters:
  ps1:
    command: pwsh
    args:
      - "-NoLogo"
      - "-NoProfile"
      - "-NonInteractive"
      - "-File"
{{- end }}
