[include]
	path = ~/.config/git/aliases.gitconfig
	path = ~/.config/git/local.gitconfig

[user]
	name = {{ .name }}
	email = {{ .email }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = {{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/share/gcm-core/git-credential-manager
{{- else if eq .chezmoi.os "linux" }}
	helper = /usr/bin/git-credential-libsecret
{{- else if eq .chezmoi.os "windows" }}
	helper = manager
{{- end }}
