[include]
	path = ~/.config/git/aliases.gitconfig

[user]
{{- if hasKey . "name" }}
	name = {{ .name }}
{{- else }}
	name = User
{{- end }}
{{- if hasKey . "email" }}
	email = {{ .email }}
{{- else }}
	email = user@example.com
{{- end }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
{{- else if eq .chezmoi.os "linux" }}
	helper = /usr/bin/git-credential-libsecret
{{- else if eq .chezmoi.os "windows" }}
	helper = manager
{{- end }}

[include]
	path = ~/.config/git/local.gitconfig
