[include]
	path = ~/.config/git/aliases.gitconfig

[user]
	name = {{ .name }}
	email = {{ .email }}

[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = /usr/local/bin/git-credential-manager
{{- else if eq .chezmoi.os "linux" }}
	helper = /usr/bin/git-credential-libsecret
{{- else if eq .chezmoi.os "windows" }}
	helper = manager
{{- end }}

[include]
	path = ~/.config/git/local.gitconfig
