{{ if eq .chezmoi.os "windows" -}}
Write-Host "Installing packages on Windows..."

winget install --accept-source-agreements --accept-package-agreements --id BurntSushi.ripgrep.MSVC
winget install --accept-source-agreements --accept-package-agreements --id sharkdp.fd
winget install --accept-source-agreements --accept-package-agreements --id jqlang.jq
winget install --accept-source-agreements --accept-package-agreements --id Starship.Starship
winget install --accept-source-agreements --accept-package-agreements --id ajeetdsouza.zoxide
winget install --accept-source-agreements --accept-package-agreements --id sharkdp.bat
winget install --accept-source-agreements --accept-package-agreements --id junegunn.fzf
winget install --accept-source-agreements --accept-package-agreements --id GitHub.cli
winget install --accept-source-agreements --accept-package-agreements --id sxyazi.yazi

Write-Host "Packages installed successfully!"
{{ end -}}
