{
  "env": {
    "DISABLE_AUTOUPDATER": "1"
  },
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "permissions": {
    "allow": [
      "Bash(wc:*)",
      "Bash(find:*)",
      "WebSearch",
      "Bash(grep:*)",
      "Bash(ls:*)",
      "Bash(tac:*)",
      "Bash(git checkout:*)",
      "Bash(rg:*)",
      "Bash(cat:*)",
      "Bash(git log:*)",
      "Bash(fd:*)",
      "Bash(git show-ref:*)",
      "Bash(git ls-tree:*)"
    ],
    "defaultMode": "default"
  },
  "model": "opus[1m]",
  "statusLine": {
    "type": "command",
    "command": "{{ .chezmoi.homeDir }}/.claude/statuslines/statusline.sh",
    "padding": 0
  },
  "enabledPlugins": {
    "typescript-lsp@claude-plugins-official": false,
    "pyright-lsp@claude-plugins-official": false,
    "csharp-lsp@claude-plugins-official": false,
    "rust-analyzer-lsp@claude-plugins-official": false,
    "clangd-lsp@claude-plugins-official": false,
    "claude-md-management@claude-plugins-official": true,
    "code-simplifier@claude-plugins-official": true,
    "skill-creator@claude-plugins-official": true
  },
  "effortLevel": "high",
  "autoUpdatesChannel": "latest"
}
